@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    /* background-image: linear-gradient(to bottom right, rgba(0, 0, 0,0.5) , rgba(0, 0, 0,0.5)), url("https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/contact-bg.jpg"); */
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0,0.5) , rgba(0, 0, 0,0.5)), url("https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/home-bg.jpg");
    width:1263px;
    min-height:500px;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    object-fit: cover;


    .hero__title{
        font-size:80px;
        font-weight: 800;
        line-height: 1.2;
        margin: 0 0 8px;
        display: grid;
        place-items: center;

    }
    .hero__text{
        font-size: 24px;
        margin: 0 0 10px;
        font-weight: 300;
    line-height: 1.1;
    }
    
}
@media only screen and (max-width:768px) {
    .hero{
        max-width:751px;
        min-height:406px;
        .hero__title{
            font-size:48px;
            }
            .hero__text{
               font-size:24px;
            }
    }
}




.main{
    font-family: "Open Sans", serif;
    min-height: 1092px;
    display: grid;
    place-items: center;
    .main__texts{
min-height: 1067px;
max-width: 637px;
margin: 30px 0 10px;
color: black;
line-height: 1.2;
padding: 0 24px;
.main__texts__title{
    h2{
        font-weight: 800;
        font-size: 36px;
        margin: 30px 0;
       
    }
  
    h3{
        font-size: 28px;
        margin: 0 0 10px;
        font-weight: 300;
        max-width: 589px;
        min-height: 33px;
    
    }
    &:hover{
        color: #0085a1;
        cursor: pointer;
    }

}
    
    p{
        font-size: 1.125rem;
    font-style: italic;
    margin-top: 0;
    color: #6c757d;
    margin: 2rem 0;
    font-family: "Lora", serif;
}
.hr{
    background-color: #6c757d;
 margin: 0 12px;
    max-width: 589px;
    /* height: 2px; */
    border:  1px solid #6c757d;
}
.posts{
   
    min-height: 54px;
    max-width: 589px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
button{
    margin:24px 0px 15px;
    padding: 16px 28px;
font-size: 14px;
background-color: #0085a1;
color: white;
min-height:54px;
max-width: 197px;
border: 1px solid #0085a1;
text-transform: uppercase;
letter-spacing: 0.0625em;

}
 }
 }
}