@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero__sample{
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0,0.5) , rgba(0, 0, 0,0.5)), url("/assets/img/post-bg.jpg");
    /* width: 100%; */
    width:1263px;
    min-height:800px;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    object-fit: cover;
    font-family: "Open Sans", serif;
    .hero__title__sample{
        font-size:56px;
        font-weight: 800;
        line-height: 1.2;
        margin: 0 0 8px;
        min-height: 269px;
        max-width: 589px;
    }
        .hero__title__commet__sample{
            font-size: 30px;
            margin: 12px 0 32px;
            font-weight: 600;
        line-height: 1.2;
        max-width: 589px;
        min-height: 66px;
        }
       .hero__text__sample{
        font-size: 20px;
        font-family: "Lora", serif;
        font-weight: 300;
        line-height: 1.2;
        max-width: 589px;
        min-height: 22px;
        font-style: italic;
       }
    }
@media only screen and (max-width:768px) {
 .hero__title{
 font-size:48px;
 }
 .hero__text{
    font-size:24px;
 }

}
.main__sample{
    min-height: 2668px;
    display: grid;
    place-items: center;
    margin: 0 0 24px;
    .main__text__sample{
        font-size: 20px;
        margin: 32px 0;
        max-width: 589px;
        font-family: "Lora", serif;
        line-height: 1.5;
           
    }
    .blockquote{
        font-size: 20px;
        color: #6c757d;
        margin: 0 0 16px;
        max-width: 589px;
        font-style: italic;

    }
    .main__title{
margin: 60px 0 8px;
font-size: 36px;
color: #212521;
}
.main__img__sample{
    min-height: 389px;
    max-width: 589px;
    &:hover{
        cursor: pointer;
    }
}
.main__img__commet__sample{
font-size: 14px;
padding: 10px;
font-family: "Lora", serif;
font-style: italic;
color: #6c757d;
max-width: 589px;
text-align: center;
}
}
@media only screen and (max-width:425px) {
    .main__img__commet__sample .main__img__sample .main__title .blockquote .main__text__sample {
        max-width:310px;
    }
    }